body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Sriracha', cursive;
  font-size: 120%;
}

h1 {
  font-size: 70px;
  margin: 50px auto 0 auto;
  font-family: 'Pacifico', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Zilla Slab', serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Zilla Slab', serif;
  color:  #11999E;
}

a{
  color: #11999E;
}

p{
  font-family: 'Sniglet', cursive;
  line-height: 2;
}

hr{
  border: dotted #c7d4d4 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #E4F9F5;
  padding: 20px;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row{
  width: 55%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.intro{
  width: 30%;
  margin: auto;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.image-ridhi{
  border-radius: 25%;
  height: 340px;
  width: 230px;
}

.image-computer {
  border-radius: 50%;
  height: 200px;
  width: 30%;
  float: left;
  margin-right: 30px;
}

.image-dance {
  border-radius: 30%;
  height: 200px;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me{
   width: 40%;
   margin: 40px auto 60px;
}

.myButton {
	box-shadow: 0px 10px 14px 2px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #5cc1d1 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5cc1d1 5%, #599bb3 100%);
	background-color:#5cc1d1;
}
.myButton:active {
	position:relative;
	top:1px;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem
  padding: 20px 0;
}
